*{
  font-family: Helvetica, Arial,  sans-serif;
}

body{
  padding: 60px;
}

input{
  width: 100%;
  color: gray;
  font-size: 1.3rem;
}

.card-grid{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
}

.card{
  max-width: 300px;
  border: 2px solid gray;
  margin: 5px;
  border-radius: 20px;
}

.card img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card p{
  text-align: center;
}